<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<advancedSorting>
			<general> 
				<saving_type>1</saving_type>
				<bestsellers_data_source>magento_reports</bestsellers_data_source>
				<bestsellers_period>yearly</bestsellers_period>
				<most_viewed_period>20</most_viewed_period>
			</general>
		</advancedSorting>
	</default>
</config>